@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b3d4c;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .strike-price {
    @apply text-slate-400 line-through decoration-2;
  }

  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
